body { 
    background-image: url(images/universe1.jpg); 
    background-size: 100% auto; 
    background-size: cover;
    color: aliceblue;
    display: -webkit-box;
    margin: auto;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
    font-size: 70px;
}

button {
    background-color: darkslategray;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 18px;
}
.container {
    margin: auto;
}

#articles {
    display: inline-block;
    overflow: auto;
    width: 95%;
    height: 700px;
}
/*
#notes {
    float: right;
    width: 30%;
} */
textarea, input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
}
input {
    height: 36px;
    font-size: 24px;
}
textarea {
    height: 200px;
    font-size: 18px;
}
#logo {
    width: 400px;
    height: 400px;
    background-repeat: no-repeat, repeat;
    background-image:  url(images/universe1.jpg);
    background-blend-mode: lighten;
}
a
{
    color: white;
   text-decoration: none; 
}